<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type='text/javascript' src='../static/main.js'></script>
    </head>
    <body>
        <div class="body_content">
            <div class="form">
                <h1>Create New Event</h1>
                <input type="text" placeholder="Title" id="title">
                <br>
                <input type="time" id="from">
                <br>
                <input type="time" id="to">
                <br>
                <input type="date" id="date">
                <br>
                <input type="text" placeholder="Address" id="address">
                <br>
                <button type="submit" onclick="createNewEvent()">Create</button>
            </div>
        </div>
    </body>
</html>
