<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type='text/javascript' src='post.js'></script>
        <link rel="stylesheet" type="text/css" href="post.css">
    </head>
    <body>
        <div class="body_content">
            <article class="post">
                <header class="post_header">
                    <div class="post_header_avatar" role="button" tabindex="0">
                        <a class="post_header_avatar_a" style="width: 32px; height: 32px;" href="/UniversityOfKansas/">
                            <img class="post_header_avatar_img" alt="UniversityOfKansas's profile picture" src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f4/Kansas_Jayhawks_logo.svg/250px-Kansas_Jayhawks_logo.svg.png">
                        </a>
                    </div>
                    <div class="post_header_name">
                        <p class="group_name"> <b> University Of Kansas </b> </p>
                    </div>
                    <div class="post_header_time">
                        <p class="post_time"> in 7 days </p>
                    </div>
                </header>
                <div class="post_body">
                    <p class="event_info"> Engineering Career Fair <br>
                        Time: 12:00 - 16:00 <br>
                        Date: Feb-07-2020 <br>
                        Address: Kansas Union
                    </p>
                </div>
                <hr style="margin-left: 16px; margin-right: 16px;">
                <div class="post_btns">
                    <span class="post_btn" aria-pressed="true" role="button" tabindex="0" onclick="handleBtnClick(event)">
                        <a class="btn_inner">
                            <i class="fa fa-check"> Going </i>
                        </a>
                    </span>
                    <span class="post_btn" role="button" tabindex="0">
                        <a class="btn_inner">
                            <i class="fa fa-star"> Interested </i>
                        </a>
                    </span>
                    <span class="post_btn" role="button" tabindex="0">
                        <a class="btn_inner">
                            <i class="fa fa-commenting"> Comment </i>
                        </a>
                    </span>
                    <span class="post_btn" role="button" tabindex="0">
                        <a class="btn_inner">
                            <i class="fa fa-send"> Share </i>
                        </a>
                    </span>
                </div>
            </article>
        </div>
    </body>
</html>
